.header {
    width: 100%;
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
        width: 50px;
        .logo-img {
            width: 50px;
        }
    }
}